* {
    margin: 0;
    padding: 0;
    font-family: Righteous;
}

html {
        scroll-behavior: smooth;
}

body {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

/* -------------------HEADER---------------------- */
header {
    
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:rgb(32, 32, 32);
    width:100%;
    height:130px;
    border-bottom: 2px solid rgb(255, 255, 255);
    position: fixed;
    top: 0;
    z-index:7;
}

.header-space{
    width:100%;
    height:80px;
}

.logo {
    display:flex;
    justify-content:center;
    align-items: center;
    width:500px;
    height:60px;
    padding-top:10px;
    text-decoration:none;
}

.logo img{
    width:80px;
}


.logo a{
    color:white;
    font-size:30px;
    font-weight: bold;
    text-decoration:none;
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo a:hover{
    color:rgb(255, 167, 116);
    transition: all 0.3s;
}
/* ----------------------------------------------- */

/* ------------------CONTEUDO--------------------- */
.conteudo {
    width:100%;
    height:100vh;
    background-color:rgb(32, 32, 32);
}
/* ----------------------------------------------- */

/* --------------VIDEO DESFOCADO------------------ */
.video-desfocado {
    position:absolute;
    z-index:1;
    width:100%;
    background-color:white;
    /* padding-bottom: 10000px; */
    /* height:500px; */
    /* background-image: url(../img/CSGO\ Fundo.png);
    /* background-position:center; */
}


.video-desfocado video {
    width: 100%;
    /* height:800px; */
   
}

/* ----------------------------------------------- */

/* -------------------WELCOME--------------------- */
.welcome {
    width:100%;
    height:500px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

/* ----------------------------------------------- */

/* -----------------SUB HEADER-------------------- */
.sub-header {
    /* position: fixed;
    z-index:4; */
    width:600px;
    height:10vh;
    display:flex;
    justify-content:center;
    align-items:center;
    /* background-color:red; */

}

.sub-header a{
    display:flex;
    justify-content: center;
    align-items:center;
    width:120px;
    height:5vh;
    background-color:rgb(46, 46, 46);
    border-radius:10px;
    margin: 5px 10px 0 0;
    text-decoration: none;
    color:white;
    transition: 0.3s;
    border: 1px solid rgb(24, 23, 23);
}

.sub-header a:hover{
    background-color:rgb(252, 135, 68);
    color:rgb(41, 41, 41);
    border: 1px solid rgb(255, 94, 0);
}
/* .sub-header a:after,
.sub-header a:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right:0;
    transition: transform .3s ease-in-out
}

.sub-header a:before{
    background-color: red;
    border-radius: 10px;
    transform: scaleY(0);
    z-index:1;
}

.sub-header a:after{
    background-color: red;
    border-radius: 10px;
    transform: scaleX(0);
}

.sub-header a:hover:before{
    transform: scaleY(1);
    background-color: rgb(38, 0, 255);
}

.sub-header a:hover:after{
    transform: scaleX(1);
    background-color: rgb(38, 0, 255);
} */


/* ----------------------------------------------- */

/* -------------------VIDEO----------------------- */
.conteudo-video {
    position:relative;
    z-index:3;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:400px;
    margin-top:85px;
    /* background-color:red; */
}

.conteudo-video video{
    /* position:relative; */
    width:600px;
    padding-bottom:40px;
    border-radius: 30px;
}

.conteudo-video span{
    position:absolute;
    color:white;
    font-size: 60px;
    text-align:center;
    padding-bottom:40px;
}
/* ----------------------------------------------- */

/* --------------------CSGO----------------------- */
.CSGO {
    /* position:absolute;
    z-index:6; */
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:700px;
    background-color:rgb(27, 27, 27);
    /* background-image:url(../img/Fundo\ CSGO.jpg);
    background-position:top;
    background-size: cover; */
}

.sobre-mae{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:50%;
    background-color:rgb(27, 27, 27);
}
.sobre-img img{
    width:400px;
}

.sobre-text {
    color:white;
    text-align:center;
    padding: 0 40px 0 40px;
    font-size:20px;
}

.sobrevideo-mae{
    width:50%;
    display:flex;
    padding-top:100px;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color:rgb(27, 27, 27);
}



.sobrevideo-text{
    padding:30px;
    margin: 0 40px 0 40px;
    color:white;
    text-align:center;
    font-size:20px;
}
/* ----------------------------------------------- */

/* -------------------VALORES--------------------- */
.valores {
    width:100%;
    height:750px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: white; 
}

.valores .ladoA{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    
}

.valoresakz{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.valores .ladoA .chato{
    width:45%;
    border-bottom: 3px solid black;
    font-size:30px;
    padding:20px 0 20px 0;
    text-align:center;
}

.valores-img{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding-top:20px;
    /* background-color: blueviolet; */

}

.textvalorespai{
    width:62%;
    padding-top:20px;
}

.valores .ladoA img{
    width:350px;
}

.valores .ladoB{
    width:50%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin-top: 50px;
    /* margin-bottom: 50px; */
    /* background-color:red; */
}

.valores .ladoB .B1{
    width:250px;
    height:250px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:20px;
    font-size:20px;
}

.valores .ladoB .B2{
    width:250px;
    height:250px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:20px;
    font-size:20px;
}

.valores .ladoB .B3{
    width:250px;
    height:250px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:20px;
    font-size:20px;
}

.valores .ladoB .B4{
    width:250px;
    height:250px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:20px;
    font-size:20px;
}

.valores .ladoB img{
    width:150px;
}

.valores .ladoB p{
    padding:20px 0 20px 0;
    font-size:20px;
}

.valores .ladoB .B1:hover{
    /* background-color:rgb(255, 102, 0, 0.3); */
    border-radius:20px;
    transition:all 0.5s ease-in;
    align-items:center;
    /* background-image:url(../img/medalha.png); */
    background-size: 140px;
    background-repeat: no-repeat;
    background-position:top;
}

.B1:hover #B1img{
    opacity: 1;
    width:100px;
}

.B1:hover #B1span{
    font-size:17px;
    text-align:center;
}

.valores .ladoB .B1:hover:after{
    content: attr(data-hover);
    /* transition:all 1s; */
    align-items:center;
    font-size:17px;
    text-align:center;
}

#B1img {
    transition:all 0.5s ease-in;
    transition:all 0.5s ease-out;
}

.B2:hover #B2img{
    opacity: 1;
    width:100px;
}

.B2:hover #B2span{
    font-size:17px;
    text-align:center;
}

.valores .ladoB .B2:hover:after{
    content: attr(data-hover);
    /* transition:all 1s; */
    align-items:center;
    font-size:17px;
    text-align:center;
}

#B2img {
    transition:all 0.5s ease-in;
    transition:all 0.5s ease-out;
}

.B3:hover #B3img{
    opacity: 1;
    width:100px;
}

.B3:hover #B3span{
    font-size:17px;
    text-align:center;
}

.valores .ladoB .B3:hover:after{
    content: attr(data-hover);
    /* transition:all 1s; */
    align-items:center;
    font-size:17px;
    text-align:center;
}

#B3img {
    transition:all 0.5s ease-in;
    transition:all 0.5s ease-out;
}

.B4:hover #B4img{
    opacity: 1;
    width:100px;
}

.B4:hover #B4span{
    font-size:17px;
    text-align:center;
}

.valores .ladoB .B4:hover:after{
    content: attr(data-hover);
    /* transition:all 1s; */
    align-items:center;
    font-size:17px;
    text-align:center;
}

#B4img {
    transition:all 0.5s ease-in;
    transition:all 0.5s ease-out;
}

/* ----------------------------------------------- */

/* ---------------CONTEUDO FINAL------------------ */
#conteudo-finalpai{
    width:100%;
    height:600px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:blue;

}
/* ----------------------------------------------- */