*{
    margin:0;
    padding:0;
    font-family: Righteous;
}

body {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.all {
    width:100%;
    height:100vh;
    background-color:rgb(20, 20, 20);
}

/* -------------------HEADER---------------------- */
header {
    width:100%;
    height:12vh;
    background-color:rgb(32, 32, 32);
    display:flex;
    align-items:center;
    border-bottom: 2px solid rgb(255, 255, 255);
}

header a{
    text-decoration:none;
}

.logo {
    display:flex;
    justify-content:center;
    align-items: center;
    padding-top:10px;
    text-decoration:none;
    margin-left:30px;
}

.logo-img img{
    width:60px;
}

.logo-text{
    color:white;
    font-size:25px;
    text-decoration: none;
    padding-left:5px;
}




/* ----------------------------------------------- */

/* -------------------CONTEUDO-------------------- */
#conteudo-pai {
    width:100%;
    height:75vh;
    /* background-color:red; */
    background-image:url(../img/cadastro/Tela\ de\ Fundo\ 04.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.conteudo{
    width:100%;
    height:75vh;
    display:flex;
    align-items:center;
    justify-content:center;
    /* background-color:red; */
}

.formulario{
    width:30%;
    height:480px;
    background-color:rgb(32, 32, 32, 0.9);
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    border-radius:15px;
}

.cadastro-titulo{
    width:80%;
    height:100px;
    padding-top:20px;
    opacity:1;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.titulo-img img{
    width:85px;
}

.titulo-text{
    color:white;
    font-size:22px;
}

#form_cadastro {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    /* background-color:red; */
    margin-top:15px;
    width:100%;
    height:350px;
}

#form_cadastro .input-padrao{
    width:300px;
    height:20px;
}

#form_cadastro label{
    color:white;
    font-size:13px;
}

.input-nome{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.input-login{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.input-email{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.input-senha{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.btn{
    width:120px;
    height:40px;
    cursor: pointer;
    opacity:1;
    background-color: rgb(22, 22, 22);
    border:2px solid white;
    border-radius:5px;
    color:white;
    font-size:18px;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    color:rgb(156, 156, 156);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.loading{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:5px;
    /* background-color:red; */
}

#img_aguarde{
    width:30px;  
}

/* #div_erro{
    padding:5px;
    font-size:20px;
} */

.login{
    width:90%;
    /* background-color:black; */
    display:flex;
    justify-content:center;
}

.login span{
    color:white;
    font-size:13px;
    transition: all 0.3s ease-in-out;
}

.login span:hover{
    color:rgb(156, 156, 156);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.login a{
    text-decoration: none;
    text-align:center;
    margin-bottom:10px;
}



/* ----------------------------------------------- */

/* --------------------FOOTER--------------------- */
footer {
    width:100%;
    height:12vh;
    background-color:rgb(20, 20, 20);
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size:15px;
    border-top:2px solid rgb(255, 255, 255);
    /* position:absolute;
    bottom:0; */
    
}

footer span{
    margin-top:25px;
}

.redes-sociais {
    width:100%;
    /* background-color:red; */
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:5px;
}

footer img{
    width:20px;
    padding: 0 10px 0 10px;
}
/* ----------------------------------------------- */