* {
    margin: 0;
    padding: 0;
    font-family:Righteous;
}

body {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.all {
    width:100%;
    height:100vh;
    background-color:rgb(20, 20, 20);
}

/* -------------------HEADER---------------------- */
header {
    width:100%;
    height:12vh;
    background-color:rgb(32, 32, 32);
    display:flex;
    align-items:center;
    border-bottom: 2px solid rgb(252, 135, 68);
}

header a{
    text-decoration:none;
}

.logo {
    display:flex;
    justify-content:center;
    align-items: center;
    padding-top:10px;
    text-decoration:none;
    margin-left:30px;
}

.logo-img img{
    width:60px;
}

.logo-text{
    color:white;
    font-size:25px;
    text-decoration: none;
    padding-left:5px;
}
/* ----------------------------------------------- */

/* -------------------CONTEUDO-------------------- */
#conteudo-pai {
    width:100%;
    height:75vh;
    /* background-color:red; */
    background-image:url(../img/login/Tela\ de\ Fundo.png);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.conteudo{
    width:100%;
    height:75vh;
    display:flex;
    align-items:center;
    justify-content:center;
    /* background-color:red; */
}

.login-pai {
    width:50%;
    height:75vh;
    display:flex;
    align-items:center;
    justify-content:center;
    /* background-color: green; */
}

.formulario{
    width:60%;
    height:460px;
    background-color:rgb(32, 32, 32, 0.9);
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    border-radius:15px;
}

.login-titulo{
    width:80%;
    height:100px;
    padding-top:40px;
    opacity:1;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.titulo-img img{
    width:100px;
}

.titulo-text{
    color:white;
    font-size:30px;
}

#form_login{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    /* background-color:red; */
    margin-top:15px;
    width:100%;
    height:350px;
}

#form_login .input-padrao{
    width:300px;
    height:20px;
}

#form_login label{
    color:white;
    font-size:16px;
}

.input-login{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.input-senha{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.btn{
    width:120px;
    height:40px;
    margin-top:10px;
    cursor: pointer;
    opacity:1;
    background-color: rgb(22, 22, 22);
    border:2px solid rgb(252, 135, 68);
    border-radius:5px;
    color:white;
    font-size:18px;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    color:rgb(252, 135, 68);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.extra {
    width:100%;
    height:140px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:5px;
    /* background-color:red; */
}

.msg_erro{
    margin-top:5px;
    color:rgb(209, 78, 78);
    font-size:20px;
}

#img_aguarde{
    width:80px;  
}

.cadastro{
    width:90%;
    /* background-color:black; */
    display:flex;
    justify-content:center;
}

.cadastro span{
    font-size:14px;
    transition: all 0.3s ease-in-out;
}

.cadastro span:hover{
    color:rgb(252, 135, 68);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.cadastro a{
    margin-bottom:25px;
    color:white;
    text-decoration: none;
    text-align:center;
}

.void {
    width:50%;
    height:75vh;
    /* background-color: rgb(4, 10, 4); */
}
/* ----------------------------------------------- */

/* --------------------FOOTER--------------------- */
footer {
    width:100%;
    height:12vh;
    background-color:rgb(20, 20, 20);
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size:15px;
    border-top: 2px solid rgb(252, 135, 68);
    /* position:absolute;
    bottom:0; */
    
}

footer span{
    margin-top:25px;
}

.redes-sociais {
    width:100%;
    /* background-color:red; */
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:5px;
}

footer img{
    width:20px;
    padding: 0 10px 0 10px;
}
/* ----------------------------------------------- */